name: dev_fontend
on:
  workflow_dispatch:
   inputs:
      version:
        required: true
        description: Nhập branch/tags muốn build, default dùng nhánh fe_dev
        default: master
jobs:
  setup-build-publish:
    name: Setup, Build, Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout
        with:
          persist-credentials: false
          ref: ${{ github.event.inputs.version }}
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - uses: actions/cache@v3
        id: npm-cache
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Build
        run: |
          npm run build
        env:
          CI: false
      - name: Deploy Cloudflare Pages
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.STAGING_CLOUDFLARE_TOKEN }}
          accountId: ${{ secrets.CF_AI }}
          command: pages publish build --project-name=react-program --commit-dirty=true --branch=master
